/* When two margins are adjascent they occupy the same space, otherwise known as margin collapse */
/* When padding is added to inline elements, they will only be repositioned horizontally */

body {
    margin: 0;
    font-family: sans-serif;
}

p {
    background: lightgreen;
    width: 50%;
    margin: 30px;
    padding: 10px;
}

a {
    background: lightblue;
    width: 50%; /*inline elements ignore width and height properties so nothing changes*/
    margin: 30px;
    padding: 20px;
}

/* Border Box Fit */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.box {
    background: lightblue;
    width: 200px;
    height: 200px;
    padding: 40px;
    border: 20px solid black;
    margin: 40px auto;
}

/* box-sizing: border-box includes the value of padding within the size of the element. The height and width won't change if you add padding */
/* in order to use margin: auto, a width must be set */


